node_modules

/app/services/auth.server.ts
app/services/auth.server.ts


# Remix
/.cache
/build
/public/build

# Remix stacks
# /package-lock.json

# Remix functions
/functions/\[\[path\]\].js
/functions/\[\[path\]\].js.map
/functions/\[\[path\]\].css
/functions/\[\[path\]\].css.map
functions/_assets/*.css

# Custom Build
/dist

# Tailwind
/app/styles/tailwind.css

# Cypress
/cypress/videos
/cypress/screenshots

# Miniflare
/.mf
/.env
.env

app/services/auth.server.ts
